/* font styles */
* {
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: $header-font;
  transition: $transition-1;
  @apply text-black dark:text-white;
}

p,
span,
div {
  font-family: $body-font;
  transition: $transition-1;
  @apply text-black dark:text-white;
}

h1,
h2,
h3 {
  font-weight: 500;
}

h1 {
  font-size: clamp(3.5rem, 4vw, 4.5rem);
}

h4 {
  text-transform: none;
}

/* transition / animation */
.transition-style-1 {
  transition: $transition-1;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* dark & light mode */
body {
  background: $light-primary;
  @extend .transition-style-1;
}

.dark {
  background: $dark-primary;
}

/* header & footer */
$header-height: 50px;
.nav-bar {
  height: $header-height;
}
