/* ========== font styles ======== */
* {
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: $header-font;
  transition: $transition-1;
  @apply text-black dark:text-white;
}

p,
span,
div {
  font-family: $body-font;
  /* transition: $transition-1; */
  @apply text-black dark:text-white;
}

.marquee span {
  font-family: $header-font;
  font-weight: 500;
}

.rotating-link-title span {
  font-family: $header-font;
}

.rotating-link-body span {
  font-family: $body-font;
}

p {
  font-size: 0.9rem;
  /* text-align: justify; */
}

@screen md {
  p {
    font-size: 1rem;
  }
}

@screen lg {
  p {
    font-size: 1.2rem;
  }
}

:focus {
  outline: none;
}

h1,
h2,
h3 {
  font-weight: 500;
}

h1 {
  /* font-size: clamp(3.5rem, 4vw, 4.5rem); */
  font-size: clamp(2.4rem, 6vw, 6.5rem);
  line-height: 1.3;
}

h2 {
  /* font-size: clamp(3.5rem, 4vw, 4.5rem); */
  font-size: clamp(2rem, 4vw, 2.5rem);
  line-height: 1.3;
}

h4 {
  text-transform: none;
  font-size: clamp(1rem, 2vw, 1.2rem);
}

.body-font-title {
  font-family: $body-font;
  text-transform: uppercase;
}

/* ======== transition / animation  ========*/
.transition-style-1 {
  transition: $transition-1;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ======== dark & light mode ============ */
body {
  background: $light-primary;
  @extend .transition-style-1;

  /* hide scrollbar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}

.dark {
  background: $dark-primary;
}

/* ======== mix-blend-mode style ======== */

/* ======= header & footer =============== */
$header-height: 50px;
.nav-bar {
  height: $header-height;
}

.header > nav,
.footer > nav {
  font-size: 0.9rem;
}

@screen sm {
  .header > nav,
  .footer > nav {
    font-size: 1rem;
  }
}

/* ======== custom container size ========= */
.box-spacing {
  @apply lg:container lg:mx-auto px-2;
}

@screen lg {
  .box-spacing {
    max-width: 1440px;
  }
}

.content-section {
  width: 85vw;
  max-width: 997px;
  margin: 0 auto;
  min-height: 280px;
  /* min-height: 400px; */
}

@screen xl {
  .content-section {
    width: 70vw;
  }
}

.content-section--full-width {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 768px;
  text-align: center;
}

/* ========== Highlight styles ============ */
@mixin highlight($color) {
  padding-right: 4px;
  background: linear-gradient(to bottom, transparent 40%, $color 40%);
  transition: $transition-1;
}

.highlight-mint {
  @include highlight($highlight-1);
}

.highlight-pink {
  @include highlight($highlight-2);
}

.highlight-yellow {
  @include highlight($highlight-3);
}

.highlight-green {
  @include highlight($highlight-4);
}

.dark {
  .highlight-mint {
    @include highlight($dark-highlight-1);
  }

  .highlight-pink {
    @include highlight($dark-highlight-2);
  }

  .highlight-yellow {
    @include highlight($dark-highlight-3);
  }

  .highlight-green {
    @include highlight($dark-highlight-4);
  }
}

/* ============ Animation =========== */

/* --- underline effect class --- */
.underline-effect {
  position: relative;
  display: inline-block;
}

.underline-effect:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: $dark-primary;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}

.underline-effect:hover:after {
  height: 1px;
  transform: scaleX(1);
  transform-origin: bottom left;
}

.dark {
  .underline-effect:after {
    background-color: $light-primary;
  }
}

/* ============ Page Transition =========== */
/* .intro-enter-active,
.intro-leave-active{
} */
