/* font styles */
* {
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: $header-font;
  transition: $transition-1;
  @apply text-black dark:text-white;
}

p,
span,
div {
  font-family: $body-font;
  transition: $transition-1;
  @apply text-black dark:text-white;
}

.marquee span {
  font-family: $header-font;
  font-weight: 500;
}

p {
  font-size: 0.9rem;
  /* text-align: justify; */
}

@screen md {
  p {
    font-size: 1rem;
  }
}

@screen lg {
  p {
    font-size: 1.2rem;
  }
}

h1,
h2,
h3 {
  font-weight: 500;
}

h1 {
  /* font-size: clamp(3.5rem, 4vw, 4.5rem); */
  font-size: clamp(2.4rem, 6vw, 6.5rem);
  line-height: 1.3;
}

h2 {
  /* font-size: clamp(3.5rem, 4vw, 4.5rem); */
  font-size: clamp(2rem, 4vw, 2.5rem);
  line-height: 1.3;
}

h4 {
  text-transform: none;
  font-size: clamp(1rem, 2vw, 1.2rem);
}

.body-font-title {
  font-family: $body-font;
  text-transform: uppercase;
}

/* transition / animation */
.transition-style-1 {
  transition: $transition-1;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* dark & light mode */
body {
  background: $light-primary;
  @extend .transition-style-1;

  /* hide scrollbar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}

.dark {
  background: $dark-primary;
}

/* header & footer */
$header-height: 50px;
.nav-bar {
  height: $header-height;
}

.header > nav,
.footer > nav {
  font-size: 0.9rem;
}

@screen sm {
  .header > nav,
  .footer > nav {
    font-size: 1rem;
  }
}

/* custom container size*/
.box-spacing {
  @apply lg:container lg:mx-auto px-2;
}

@screen lg {
  .box-spacing {
    max-width: 1440px;
  }
}

.content-section {
  width: 85vw;
  max-width: 997px;
  margin: 0 auto;
  min-height: 280px;
}

@screen xl {
  .content-section {
    width: 70vw;
  }
}

.content-section--full-width {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 768px;
  text-align: center;
}

/* Highlight styles */
@mixin highlight($color) {
  padding-right: 4px;
  background: linear-gradient(to bottom, transparent 40%, $color 40%);
  transition: $transition-1;
}

.highlight-mint {
  @include highlight($highlight-1);
}

.highlight-pink {
  @include highlight($highlight-2);
}

.highlight-yellow {
  @include highlight($highlight-3);
}

.highlight-green {
  @include highlight($highlight-4);
}

.dark {
  .highlight-mint {
    @include highlight($dark-highlight-1);
  }

  .highlight-pink {
    @include highlight($dark-highlight-2);
  }

  .highlight-yellow {
    @include highlight($dark-highlight-3);
  }

  .highlight-green {
    @include highlight($dark-highlight-4);
  }
}
