$testing: red;

$header-font: "Playfair Display", serif;
$body-font: "Poppins", sans-serif;

$light-primary: #e9e9e9; // main background color
$light-secondary: #d2d1d1;
$dark-primary: #202527; // main background color
$dark-secondary: #393939;
$black: #202527;
$absWhite: #ffffff;
$white: #dbd6d5; // mix-blend-mode result color for white

$highlight-1: #bdefec; // mint green
$highlight-2: #f2cfd4; // light pink
$highlight-3: #feffad; // light yellow
$highlight-4: #b4e4ce; // light vue green

$dark-highlight-1: #bdefec99; // mint green
$dark-highlight-2: #f2cfd499; // pink
$dark-highlight-3: #feffad99; // yellow
$dark-highlight-4: #b4e4ce99; // yellow

$transition-1: all 0.3s ease-in-out;

$max-width: 1440px;
