$testing: red;

$heading-font: "Playfair Display", serif;
$body-font: "Poppins", sans-serif;

$light-primary: #e9e9e9; // main background color
$light-secondary: #d2d1d1;
$dark-primary: #202527; // main background color
$dark-secondary: #393939;
$black: #202527;
$white: #ffffff;

$transition-1: all 0.3s ease-in-out;
